.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
*/build
target
out
*.iml
*.ipr
*.iws
*.log
test-output
test-results
test-tmp
*.class
mods
*/mods
data
developer.id
*.mod.json
.jshintrc
Thumbs.db
sample-*/
node_modules
vertx_classpath.txt
.tern-project
.htmlhintrc
javaconfig.json
classpath.txt
.vscode/
bower_components/
admin/src/main/resources/public/js
admin/src/main/resources/public/templates
admin/src/main/resources/view
admin/src/main/resources/public/styles/admin.css
admin/src/main/resources/public/styles/admin.css.map
auth/